@model Calamity.Models.CopyModel
@{ Layout = null;}
@using (Html.BeginForm("CopyFile", "Browser", FormMethod.Post, new { @id = "copy", @style = "display:none;" }))
{
    <div class="FileTree" id="tree">
        @{String dir = String.Format("C:\\Users\\Patrik\\Desktop\\WT\\Calamity\\Calamity\\Users\\{0}", User.Identity.Name);}
        <span onclick ='setFormularValue(this, "data-new-path", "NewPath" , "copy")' data-new-path = "@dir" >Root</span>
        @{Html.RenderAction("FileTree", "Browser", new { @folder = dir, @view = "CopyFileTree" });}
    </div>
    @Html.HiddenFor(m => m.NewPath, Model.NewPath)
    @Html.HiddenFor(m => m.File, Model.File)
    <p>
        <input type="submit" value="Copy" />
    </p>
}