@{
    ViewBag.Title = "EmptyVideoPlayer";
}

<h2>EmptyVideoPlayer</h2>
<video width="320" height="240" controls autoplay="autoplay"> 
  <source src="@Url.Action("Video","VideoPlayer")" type="video/mp4"> 
</video> 