@model TestWeb.Models.FilesLibrary.WorkingFolder
@using TestWeb.Models.FilesLibrary;
@{
    ViewBag.Title = "Root";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Root</h2>
@using (Html.BeginForm("Upload", "Browser", FormMethod.Post, new {enctype="multipart/form-data"})){ 

     <input type="file" name="FileUpload1" /><br />
     <input type="submit" name="Submit" id="Submit" value="Upload" />
}
<ul>
@{int idt = 0;}
@foreach (AbstractFile file in Model.GetFiles())
{
    if (file is Folder)
    {
        String link;
        link = String.Format("[{0}]", file.Name);
        <li>
        @Html.ActionLink(link, "Folder", new { id = idt })
        </li>
    }
    else
    {
        <li>
        @Html.ActionLink(file.Name, "DownloadFile", new { id = idt })
        </li>
    }
    idt++;
}
</ul>

